#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;

  .brand {
    text-decoration: none;

    h1 {
      @include fontDisplay;
      font-size: 2rem;
      text-align: center;
      color: $three;

      @include tamanho-tela(tablet) {
        font-size: 2.7rem;
      }
    }
  }

  .logout {
    display: block;
    text-transform: uppercase;
    cursor: pointer;
  }
}
